@model IEnumerable<Lab4_Dreamers.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1>Các nhà cung cấp</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<br />
<select id="choice" class="mb-3">
    <option value="0" selected="selected">Tất cả</option>
    <option value="1">Cung cấp 10 products trở lên</option>
    <option value="2">Chưa cung cấp product nào</option>
</select>
<span id="link">
    <a href="javascript:void(0);" id="filter">Filter</a>
</span>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupplierID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts {
    <script>
        document.getElementById("filter").addEventListener("click", function () {
            var choice = document.getElementById("choice").value;
            window.location.href = "/Suppliers/Index?choice=" + choice;
        });
    </script>
}